.fs-11 { font-size: 1.1em; }
.fs-12 { font-size: 1.2em; }
.fs-13 { font-size: 1.3em; }
.fs-14 { font-size: 1.4em; }
.fs-15 { font-size: 1.5em; }
.fs-16 { font-size: 1.6em; }
.fs-17 { font-size: 1.7em; }
.fs-18 { font-size: 1.8em; }
.fs-19 { font-size: 1.9em; }
.fs-01 { font-size: 0.1em; }
.fs-02 { font-size: 0.2em; }
.fs-03 { font-size: 0.3em; }
.fs-04 { font-size: 0.4em; }
.fs-05 { font-size: 0.5em; }
.fs-06 { font-size: 0.6em; }
.fs-07 { font-size: 0.7em; }
.fs-08 { font-size: 0.8em; }
.fs-09 { font-size: 0.9em; }
.fs-10 { font-size: 1.0em; }
