/*
 * 100% 宽度，无背景色的 Table
 * 可选样式：
 *   st-hline 只显示横线
 *   st-vline 只显示竖线
 *   st-allline 横线和竖线都显示
*/
.st {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.st table {
  margin-bottom: 0px;
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
}

.st table thead th {
  color: #000;
}

.st table td,
.st table th,
.st table thead,
.st table thead th,
.st table tr {
  border-width: 0px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  background-color: transparent;
}

.st-allline table td:first-child,
.st-allline table th:first-child,
.st-vline table td:first-child,
.st-vline table th:first-child {
  border-left: 0;
}

.st-hline table thead th,
.st-hline table thead th,
.st-hline table tbody tr:not(:last-child) td,
.st-hline table tbody tr:not(:last-child) td,
.st-vline table tr:nth-last-child(2) th,
.st-vline table thead tr:last-child th,
.st-allline table tbody tr:not(:last-child) td,
.st-allline table thead th {
  border-bottom-width: 1px;
}

.st-allline table td,
.st-allline table thead th,
.st-allline table th,
.st-vline table td,
.st-vline table thead th,
.st-vline table th {
  border-left-width: 1px;
}

.st.noborder {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0px;
}

.st.noborder table thead th {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  border-bottom-width: 2px;
}

.nord-dark .st {
  border: 1px solid var(--nord3);
}

.nord-dark .st table thead th {
  color: var(--nord6);
}

.nord-dark .st table td,
.nord-dark .st table th,
.nord-dark .st table thead,
.nord-dark .st table thead th,
.nord-dark .st table tr {
  border-color: var(--nord3);
}

.nord-dark .st table td,
.nord-dark .st table tr {
  color: var(--nord6);
  opacity: 0.9;
}

.nord-dark .st table th,
.nord-dark .st table thead,
.nord-dark .st table thead th {
  color: var(--nord6);
}

.nord-dark .st.noborder {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid var(--nord3);
  border-radius: 0px;
}
